<span >
    <span class="col-lg-3 m-2 p-3 mb-5 bg-white rounded" >
        <div id="main">
        <mat-card class="example-card">
        <mat-card-title>{{contact?.title}}</mat-card-title>
        <mat-card-content>
            <p class="text-center">{{contact?.content}}</p>
        </mat-card-content>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>

            </mat-expansion-panel-header>
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon style="color:rgb(40,40,160);">bookmarks</mat-icon>
            </button>

            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon style="color:rgb(40,40,160);">edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon style="color:rgb(40,40,160);">delete</mat-icon>
            </button>

            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon style="color:rgb(40,40,160);">notifications</mat-icon>
            </button>
        </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</div>
    </span>
</span>
