<h2 id="addnote">Add New Notes</h2>


     
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input name="name" matInput placeholder="start here..."  [(ngModel)]="note.title">
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Content</mat-label>
          <textarea name="content" matInput placeholder="Ex. It makes me feel..." [(ngModel)]="note.content"></textarea>
        </mat-form-field>
      
    
<button (click)="saveNotes()">Save</button>
